.header {
  height: 34vw;
  margin: 20px auto;
  background-image: url("https://img.freepik.com/free-photo/flat-lay-arrangement-with-salad-box-sauce_23-2148247883.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire header */
  position: relative;
  color: olive;
  overflow: hidden; /* Ensures animation overflow is hidden */
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 2s ease-out, slideIn 2s ease-out;
}

.header-contents h2 {
  font-weight: 500;
  color: crimson;
  font-size: clamp(22px, 4.5vw, 4.5rem); /* Responsive font size */
  animation: fadeIn 2s ease-out;
}

.header-contents p {
  font-family: cursive;
  font-style: italic;
  color: black;
  font-size: clamp(13px, 1vw, 2rem); /* Responsive font size */
  animation: fadeIn 2s ease-out;
}

.header-contents button {
  text-align: center;
  border: none;
  color: white;
  font-weight: 500;
  padding: 15px 40px;
  font-family: cursive;
  font-weight: bold;
  font-variant: small-caps;
  background-color:coral; /* Green background */
  border-radius: 50px;
  font-size: clamp(14px, 1vw, 1.5rem); /* Responsive font size */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  overflow: hidden;
  position: relative;
}

.header-contents button:hover {
  background-color:lightcoral; /* Darker green on hover */
  transform: translateY(-3px); /* Lift button on hover */
}
 @media(max-width:1050px)
{
  /* .header{
    height: 38vw;
  } */
  .header-contents{
    max-width: 45%;
  }
}
@media(max-width:750px)
{
  
  .header-contents{
    max-width: 65%;
  }
  .header-contents{
    display: none;
  }
  .header-contents button{
   padding:2vw 4vw;
  }
}

 
